<body>
  <br />
  <br />
  <br />
  <body>
    <link href="http://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet" />
    <mat-drawer-container>
      <mat-drawer-content>
        <div class="content">
          <div class="cards">
            <h4 style="color: white; font-family: 'Minecraftia'">
              Featured Recipe of the Day
            </h4>
            <mat-divider></mat-divider>
            <div class="columns">
              <!--- <mat-card *ngFor="let recipe of recipeList">  -->
              <mat-card>
                <mat-icon>close</mat-icon>

                <mat-card-header>
                  <!-- <mat-card-title> {{ title }} </mat-card-title>
                    <img
                      class="card-image"
                      src="{{ image }}"
                      alt="Photo of {{ title }}"

                      <mat-card-subtitle> Likes: {{ likes }} </mat-card-subtitle>
                    /> -->
                </mat-card-header>
                <mat-card-content>
                  <!--  -->
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </body>
</body>
