

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2rem;
  
}

.navbar-nav {
  font-size: 1.2rem;
}

.nav-link {
  color: #070707;
  padding: 0.5rem;

}

/* home button is diff from the rest for some reason, prob bc its home */
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color: #070707;
  
}


.dropdown-menu {
  background-color: #531c03;
  border-radius: 10px;
  
}

.dropdown-item {
  color: #ffffff;
  
}

.dropdown-item:hover {
  background-color: #116101;
  cursor: pointer;
  
}

.button {
  background-color: #531c03;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

button {
  font-size: 1.0rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  background-color:transparent;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #116101;
  cursor: pointer;
}

.container-fluid{
  margin-top: 60px;
  position:fixed;
  background-color: #f5f5f5;
 
  padding: 0.5rem;
}