<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="\assets\foodcraft.png" alt="picture" width="250" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink=""
            routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about"> About Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search"> Search </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Example
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">idk</a></li>
            <li><a class="dropdown-item" href="#">something</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Featured Recipes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Breakfast</a></li>
            <li><a class="dropdown-item" href="#">Lunch</a></li>
            <li><a class="dropdown-item" href="#">Dinner</a></li>
          </ul>
        </li>
      </ul>
      <nav class="navbar navbar-expand-sm">
        <ul class="nav navbar-nav navbar-right">
          <a class="nav-link">
            <div class="button">
              <button
                onclick="document.getElementById('id01').style.display='block'"
              >
                Login
              </button>
              <div id="id01" class="modal">
                <span
                  onclick="document.getElementById('id01').style.display='none'"
                  class="close"
                  title="Close Modal"
                  >&times;</span
                >
                <form class="modal-content animate" action="/action_page.php">
                  <div class="container" style="background-color: #f1f1f1">
                    <label for="uname"><b>Username</b></label>
                    <input
                      type="text"
                      placeholder="Enter Username"
                      name="uname"
                      required
                    />

                    <label for="psw"><b>Password</b></label>
                    <input
                      type="password"
                      placeholder="Enter Password"
                      name="psw"
                      required
                    />

                    <button type="submit">Login</button>
                    <label>
                      <input
                        type="checkbox"
                        checked="checked"
                        name="remember"
                      />
                      Remember me
                    </label>
                  </div>
                  <div class="container" style="background-color: #f1f1f1">
                    <button
                      type="button"
                      onclick="document.getElementById('id01').style.display='none'"
                      class="cancelbtn"
                    >
                      Cancel
                    </button>
                    <span class="psw">Forgot<a href="#">password?</a></span>
                  </div>
                </form>
              </div>
              <script>
                var modal = document.getElementById("id01");
                window.onclick = function (event) {
                  if (event.target == modal) {
                    modal.style.display = "none";
                  }
                };
              </script>
            </div>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</nav>
