<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="\assets\foodcraft.png" alt="picture" width="250" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink=""
            routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about"> About Us </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Example
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">idk</a></li>
            <li><a class="dropdown-item" href="#">something</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Featured Recipes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Breakfast</a></li>
            <li><a class="dropdown-item" href="#">Lunch</a></li>
            <li><a class="dropdown-item" href="#">Dinner</a></li>
          </ul>
        </li>
      </ul>
      <nav class="navbar navbar-expand-sm">
        <ul class="nav navbar-nav navbar-right">
          <a class="nav-link" routerLink="login">
            <div class="button">
              <button>Sign In</button>
            </div>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</nav>
