<div class="about-section">
  <h1>About FoodCraft</h1>
  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
    porro quisqu
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/w3images/team1.jpg" alt="Jane" style="width: 100%" />
      <div class="container">
        <h2>David Noguera</h2>
        <p class="title">Front-End</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>davidnoq15@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width: 100%" />
      <div class="container">
        <h2>Piper Taylor</h2>
        <p class="title">Front-End</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>email@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width: 100%" />
      <div class="container">
        <h2>Christopher Dowdy</h2>
        <p class="title">Back-End</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>cdowdy@ufl.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width: 100%" />
      <div class="container">
        <h2>Jaden Lindner</h2>
        <p class="title">Back-End</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>email@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
