<body>
  <br />
  <div class="about-section">
    <h1>About FoodCraft</h1>
    <br />
    <p>
      FoodCraft is here to provide the best functionality to discover new
      recipes from your own pantry. We've created this website to allow you to
      have fun finding new ways to efficiently make food!
    </p>
  </div>

  <h2 style="text-align: center">Meet the Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h3>David Noguera</h3>
          <p class="title">Front-End</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>davidnoq15@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h3>Piper Taylor</h3>
          <p class="title">Front-End</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>ptaylor2@ufl.edu</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h3>Christopher Dowdy</h3>
          <p class="title">Back-End</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>cdowdy@ufl.edu</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h3>Jaden Lindner</h3>
          <p class="title">Back-End</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jadenlindner@ufl.edu</p>
        </div>
      </div>
    </div>
  </div>
</body>
