body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .column h2{
    font-size: 26px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  h1{
    color:black;
  }
  .about-section {
    padding: 100px;
    margin-top: 100px;
    text-align: center;
    font-size: 1.5rem;
  color: #4d4d4d;
    
    background-size: auto;
  }
  p{
    margin-top:40px;
  }
  /*background-image: url(src\assets\grass.png); */
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
 
  .button {
    background-color: #531c03;
    border-radius: 10px;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    color:white;
  }
  
  button {
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    background-color:transparent;
    border: none;
    outline: none;
  }
  