

/* Style the main section */
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the cover heading */
.cover-heading {
  font-size: 5rem;
  color: #000000;
  text-align: center;
  margin-bottom: 2rem;
}

/* Style the description text */
.describe {
  font-size: 1.5rem;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 4rem;
}

/* Style the crafting button */
.button {
  background-color: #531c03;
  border-radius: 10px;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}

/* Style the button on hover */
.button:hover {
  background-color: #116101;
  cursor: pointer;
}

/* Style the button text */
button {
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  background-color:transparent;
  border: none;
  outline: none;
}
