<main role="main" class="inner cover">
  <img src="assets\yay.png" class="image" />
  <div class="text">
    <br />
    <h1 class="cover-heading">Craft Your Food</h1>
    <br />

    <p class="describe">
      FoodCraft is an interactive website that allows you to find existing
      crafting recipes from your food storage. Click the button to craft!
    </p>
    <div class="nav-link" routerLink="search">
      <div class="button">
        <button>Crafting Menu</button>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
