<!--<a class="main-logo" href="#">
  <img src="assets\foodcraft.png" alt="foodcraft alt" />
</a>
<a class="nav-link" routerLink="search">
  <div class="button">
    <button>Get Started</button>
  </div>
</a>-->

<main role="main" class="inner cover">
  <h1 class="cover-heading">Craft Your Food</h1>
  <p class="describe">
    FoodCraft is an interactive website that allows you to find existing
    crafting recipes from your food storage. Click the button to craft!
  </p>
  <a class="nav-link" routerLink="search">
    <div class="button">
      <button>Crafting Menu</button>
    </div>
  </a>
</main>
