<div class="container" style = "position:relative; top:50px;">
    <div class="row">
        <div class="col col-1">
            Search Filters
        </div>
        <div class="col col-2">
            <form>
                <input type="text" placeholder="Search for Ingredients...">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-1">
            Meal Size
            Type of Meal
            Category
        </div>
        <div class="col col-2">
            <ul id="checklist">
                <li><input type="checkbox">Ingredient 1</li>
                <li><input type="checkbox">Ingredient 2</li>
                <li><input type="checkbox">Ingredient 3</li>
            </ul>
        </div>
    </div>
</div>
  
