<body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
<br>
<div class="main-container">
    <div class="searchIngredients">
        <div class="description">Type in Ingredients that you want to use for a recipe</div>
        <mat-divider class="divider"></mat-divider>
        <div class="description">Below are ingredients that are commonly used. If there are other ingredients 
            that are not listed, just type it in and add the ingredient to list.
        </div>
        <mat-divider class="divider"></mat-divider>
        <div class="description">Once you have all the ingredients you desire for a recipe,
            click the button 'craft recipe' to display the recipe that matches the ingredients
        </div>
        <mat-divider class="divider"></mat-divider> 
        <div class="search-container">
            <input type="text" placeholder="Search for ingredients..." [(ngModel)]="searchTerm">
            <div *ngIf="searchIngredients().length === 0">
                <button class="btn clearAllSelected" (click)="addIngredient(searchTerm)">Add Ingredient</button>
            </div>
            <div class="searchList">
                <div *ngFor="let ingredient of searchIngredients()">
                    <table>
                        <label class="listItem">
                            <input type="checkbox"  
                                [checked]="ingredient.selected" 
                                (change)="onIngredientSelected(ingredient)" 
                                class="listIng">
                            <span class="ingredientName">{{ ingredient.name }}</span>
                        </label>
                    </table>
                </div>
            </div>
            <div>
                <button class="clearAllSelected btn" (click)="clearSelected()">Clear selected</button>
            </div>
        </div>
    </div>

    <div class="crafting-table">
        <img src="/assets/crafting-background.png" alt="crafting table" class="crafting-back"> 
        <div class="card-overlay" *ngIf="recipeFound">
            <div class="card-container">
                <mat-card>
                    <mat-card-header>
                        <div class="card-header-content">
                            <h3>{{ title }}</h3>
                        </div>
                    </mat-card-header>
                    <img [src]="imageSrc">
                </mat-card>
            </div>
        </div>
        <div class="craftButton">
            <button class="btn" (click)="searchRecipes()">Craft Recipe</button>
            <h3 *ngIf = "recipeError" style="font-family:minecraftia;color:white;">Already viewed this recipe</h3>
        </div>
        <ng-container *ngIf="isLoading">
            <div class="loading-dots"></div>
        </ng-container>
    </div>
</div>
</body>

